.custom-navbar {
    background-color: #800000;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}

.hero-section {
    margin-top: 120px; /* Adjust based on the total height of navbar */
}

.banner-image{
    width: 100%;
    height: auto;
}

.custom-button {
    background-color: transparent;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-icon {
    color: #800000;
    font-size: 2.0rem;
}

.menu-collapse {
    position: fixed; /* Make the menu fixed so it overlays content */
    top: 120px; /* Adjust this to be right under the navbar */
    width: 100%;
    z-index: 1020; /* Ensure it's on top of the content but below the navbar */
    background-color: rgba(255, 255, 255, 0.95); /* Optional: Add a background to the menu for better visibility */
}

.menu-collapse .container {
    margin-top: 20px;
}
