.custom-navbar {
    height: 120px;
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.banner-image {
    width: 100%;
    height: auto;
}

.custom-button {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-icon {
    color: white;
    font-size: 2.0rem;
}
